---
layout: default
---

<div class="home">
  <h1 class="page-heading">Posts</h1>

  <p>Hi, I'm Davide Paolo Tua, and this is my personal website.</p>
  
  <p>It is really empty right now, but I hope it will improve soon :)</p> 
  
  <p>Stay tuned!</p>


  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
